// 공통 스타일
body {
    display: flex;
    flex-direction: column;

    header,
    footer {
        flex: 0 0 auto;
    }

    main {
        flex: 1 0 auto;
    }
}
.content_inner {
    width: 1200px;
    margin: 0 auto;
}

// 메인 페이지 스타일
.header_top {
    border-bottom: 1px solid #d5d5d5;
}

// 씽유 - 주최사 로고
.link_thinkyou {
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #736bff;
    line-height: 30px;
    letter-spacing: -1px;

    &:before {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url("https://biosong-promotion.s3.ap-northeast-2.amazonaws.com/logo_thinkyou.png");
        background-size: contain;
        vertical-align: top;
        content: "";
    }
}

.gnb {
    > .content_inner {
        display: flex;
        align-items: center;
        height: 80px;
    }
}

.gnb_left,
.gnb_menu {
    height: 100%;
}

.gnb_left {
    display: flex;
    align-items: center;
}

.link_header_banner {
    display: flex;
    align-items: center;
    height: 100%;

    + .link_header_banner {
        margin-left: 22px;
    }
}

.gnb_menu {
    display: flex;
    align-items: center;
    margin-right: -58px; /* 디자인 맞춤 */
    margin-left: auto;
    font-size: 20px;
    z-index: 10;

    > li {
        display: flex;
        flex: 0 0 170px;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 170px;
        height: 100%;
        text-align: center;
    }

    a {
        display: flex;
        align-items: center;
        height: 100%;
        font-weight: bold;
        color: #272727;
    }
}

.sub_menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #f6f6f6;
    font-size: 18px;

    > li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 60px;
        color: #575757;
    }
}

main {
    width: 100%;
}

.main_content {
    min-height: 800px;
    background-color: #e2edf9;

    > .content_inner {
        position: relative;
    }
}

.content_main_banner {
    padding-top: 100px;
    text-align: center;
}

.content_main_image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 503px;
    height: 423px;
    background: url(../img/main_image.png) no-repeat;
}

.content_right {
    margin: 39px 0 0 600px;
}

.content_link_wrap {
    display: flex;
}

.area_content_link {
    display: flex;
    flex: 1 0 400px;
    flex-wrap: wrap;

    > li {
        display: inline-block;
        flex: 0 0 196px;
        height: 85px;
        margin: 0 12px 10px 0;
        background-size: contain;
        vertical-align: top;
    }

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-indent: -9999em;
    }
}

.banner_write {
    background: url(../img/banner_write.png) no-repeat;
}

.banner_check {
    background: url(../img/banner_check.png) no-repeat;
}

.banner_qna {
    background: url(../img/banner_qna.png) no-repeat;
}

.banner_download {
    background: url(../img/banner_download.png) no-repeat;
}

.link_banner {
    display: inline-block;
    width: 180px;
    height: 180px;
    background: url(../img/banner_award.png) no-repeat;
    vertical-align: top;

    > a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-indent: -9999em;
    }
}

// 공지사항
.area_notice {
    width: 600px;
    height: 170px;
    margin-top: 20px;
    padding: 20px 23px;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    color: #737473;
    box-sizing: border-box;

    .title {
        position: relative;
        margin-left: 5px;
        font-size: 18px;
        color: #2e3032;

        &:before {
            display: inline-block;
            width: 22px;
            height: 22px;
            margin: -5px 8px 0 0;
            background: url(../img/ico_notice.png) no-repeat;
            vertical-align: top;
            content: "";
        }
    }
}

.list_notice {
    position: relative;
    margin-top: 5px;
    border-top: 1px solid #6d6e6e;

    &:before,
    &:after {
        position: absolute;
        right: 0;
        left: 0;
        height: 1px;
        background-color: #d1d2d2;
        content: "";
    }

    &:before {
        top: -2px;
    }

    &:after {
        bottom: 0px;
    }

    li {
        display: flex;
        align-items: center;
        width: 100%;
        height: 30px;
        border-bottom: 1px solid #d2d2d1;
        font-size: 16px;
    }

    button {
        overflow: hidden;
        width: 100%;
        height: 100%;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .date {
        flex: 0 0 auto;
        margin-left: auto;
    }
}

footer {
    min-height: 120px;
    padding-top: 20px;
    background-color: #dbdbdb;
    font-size: 14px;

    > .content_inner {
        display: flex;
    }
}

.footer_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #525252;
    letter-spacing: -0.5px;

    p {
        + p {
            margin-top: 5px;
        }
    }
}

.footer_link_list {
    display: flex;
    margin-left: auto;

    > li {
        margin-left: 36px;
    }

    img {
        opacity: 0.8;
        filter: grayscale(100%);
    }
}

.dimmed_layer {
    display: none; /* 처음에는 보이지 않도록 설정 */
    z-index: 9999; /* 다른 요소보다 위에 나타나도록 설정 */
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은색 배경 */
    box-sizing: border-box;

    h2 {
        margin-top: 0;
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}

.area_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1100px;
    padding: 40px;
    border: 5px solid #3451a3;
    background-color: #fff;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}

.layer_content {
    width: 100%;
    padding: 15px 0;
    border-top: 2px solid #222;
    border-bottom: 2px solid #222;

    .title {
        display: block;
        max-width: 100%;
        font-family: "GmarketSans";
        font-size: 20px;
        font-weight: bold;
        color: #000;
        line-height: 24px;
    }
}

.layer_content_header {
    padding: 5px 15px 20px;
    border-bottom: 1px solid #ccc;
}

.register_date {
    margin-top: 20px;
    font-weight: bold;

    .date {
        letter-spacing: -0.5px;
    }
}

.layer_content_body {
    padding: 45px 10px;

    p {
        line-height: 20px;

        + p {
            margin-top: 15px;
        }
    }
}

.btn_more {
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 0 5px;
    margin-top: 30px;
    border-radius: 2px;
    background-color: #3552a4;
    font-size: 18px;
    color: #fff;
    line-height: 50px;
    cursor: pointer;
    box-sizing: border-box;
    box-sizing: border-box;
}
