// 공통 스타일
body {
    display: flex;
    flex-direction: column;
    min-width: 1320px;

    header,
    footer {
        flex: 0 0 auto;
    }

    main {
        flex: 1 0 auto;
    }
}
.content_inner {
    width: 1200px;
    margin: 0 auto;
}

// 메인 페이지 스타일
.header_top {
    border-bottom: 1px solid #d5d5d5;
}

// 씽유 - 주최사 로고
.link_thinkyou {
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #736bff;
    line-height: 30px;
    letter-spacing: -1px;

    &:before {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url("https://biosong-promotion.s3.ap-northeast-2.amazonaws.com/logo_thinkyou.png");
        background-size: contain;
        vertical-align: top;
        content: "";
    }
}

.gnb {
    > .content_inner {
        display: flex;
        align-items: center;
        height: 80px;
    }
}

.gnb_left,
.gnb_menu {
    height: 100%;
}

.gnb_left {
    display: flex;
    align-items: center;
}

.mobile_image {
    display: none;
}

.link_header_banner {
    display: flex;
    align-items: center;
    height: 100%;

    + .link_header_banner {
        margin-left: 22px;
    }
}

.gnb_menu {
    display: flex;
    align-items: center;
    z-index: 10;
    margin-right: -58px; /* 디자인 맞춤 */
    margin-left: auto;
    font-size: 20px;

    > li {
        display: flex;
        flex: 0 0 170px;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 170px;
        height: 100%;
        text-align: center;
    }

    a {
        display: flex;
        align-items: center;
        height: 100%;
        font-weight: bold;
        color: #272727;
    }
}

.sub_menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #f6f6f6;
    font-size: 18px;

    > li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 60px;
        color: #575757;
    }
}

main {
    width: 100%;
}

.main_content {
    min-height: 800px;
    background-color: #e2edf9;

    > .content_inner {
        position: relative;
    }
}

.content_main_banner {
    padding-top: 100px;
    text-align: center;
}

.content_main_image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 503px;
    height: 423px;
    background: url(../img/main_image.png) no-repeat;
}

.content_right {
    margin: 39px 0 0 600px;
}

.content_link_wrap {
    display: flex;
}

.area_content_link {
    display: flex;
    flex: 1 0 400px;
    flex-wrap: wrap;

    > li {
        display: inline-block;
        flex: 0 0 196px;
        height: 85px;
        margin: 0 12px 10px 0;
        background-size: contain;
        vertical-align: top;
        transition: transform 0.5s;

        &:hover {
            transition: transform 0.5s;
            transform: scale(1.2);
        }
    }

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-indent: -9999em;
    }
}

.banner_write {
    background: url(../img/banner_write.png) no-repeat;
}

.banner_check {
    background: url(../img/banner_check.png) no-repeat;
}

.banner_qna {
    background: url(../img/banner_qna.png) no-repeat;
}

.banner_download {
    background: url(../img/banner_download.png) no-repeat;
}

.link_banner {
    display: inline-block;
    width: 180px;
    height: 180px;
    background: url(../img/banner_award.png) no-repeat;
    vertical-align: top;
    transition: transform 0.5s;

    &:hover {
        transition: transform 0.5s;
        transform: scale(1.2);
    }

    > a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-indent: -9999em;
    }
}

// 공지사항
.area_notice {
    width: 600px;
    height: 170px;
    margin-top: 20px;
    padding: 20px 23px;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    color: #737473;
    box-sizing: border-box;

    .title {
        position: relative;
        margin-left: 5px;
        font-size: 18px;
        color: #2e3032;

        &:before {
            display: inline-block;
            width: 22px;
            height: 22px;
            margin: -5px 8px 0 0;
            background: url(../img/ico_notice.png) no-repeat;
            vertical-align: top;
            content: "";
        }
    }
}

.list_notice {
    position: relative;
    margin-top: 5px;
    border-top: 1px solid #6d6e6e;

    &:before,
    &:after {
        position: absolute;
        right: 0;
        left: 0;
        height: 1px;
        background-color: #d1d2d2;
        content: "";
    }

    &:before {
        top: -2px;
    }

    &:after {
        bottom: 0px;
    }

    li {
        display: flex;
        align-items: center;
        width: 100%;
        height: 30px;
        border-bottom: 1px solid #d2d2d1;
        font-size: 16px;
    }

    button {
        overflow: hidden;
        width: 100%;
        height: 100%;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .date {
        flex: 0 0 auto;
        margin-left: auto;
    }
}

footer {
    min-height: 120px;
    padding-top: 20px;
    background-color: #dbdbdb;
    font-size: 14px;

    > .content_inner {
        display: flex;
    }
}

.footer_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #525252;
    letter-spacing: -0.5px;

    p {
        + p {
            margin-top: 5px;
        }
    }
}

.footer_link_list {
    display: flex;
    margin-left: auto;

    > li {
        margin-left: 36px;
    }

    img {
        opacity: 0.8;
        filter: grayscale(100%);
    }
}

.dimmed_layer {
    z-index: 9999; /* 다른 요소보다 위에 나타나도록 설정 */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은색 배경 */
    box-sizing: border-box;

    h2 {
        margin-top: 0;
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    // qna
    &.qna {
        .register_date,
        .layer_content_body {
            text-align: left;
        }

        .notice_text {
            margin-top: 15px;
            padding: 0;
        }

        .layer_content_body {
            p + p {
                margin-top: 0;
            }
        }

        .btn_cancel {
            display: inline-block;
            width: 150px;
            height: 50px;
            margin: 30px 5px 0;
            border: 1px solid #3552a4;
            border-radius: 2px;
            font-size: 18px;
            color: #3552a4;
            line-height: 50px;
            cursor: pointer;
            box-sizing: border-box;
        }
    }
}

.area_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1100px;
    padding: 40px;
    border: 5px solid #3451a3;
    background-color: #fff;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}

.layer_content {
    width: 100%;
    padding: 15px 0;
    border-top: 2px solid #222;
    border-bottom: 2px solid #222;

    .title {
        display: block !important;
        width: auto !important;
        max-width: 100%;
        height: auto !important;
        font-family: "GmarketSans";
        font-size: 20px;
        font-weight: bold;
        color: #000;
        line-height: 24px;
        text-indent: initial !important;
    }
}

.layer_content_header {
    padding: 5px 15px 20px;
    border-bottom: 1px solid #ccc;
}

.register_date {
    margin-top: 20px;
    font-weight: bold;

    .date {
        letter-spacing: -0.5px;
    }
}

.layer_content_body {
    padding: 45px 10px;
    line-height: 1.2;

    p {
        line-height: 20px;

        + p {
            margin-top: 15px;
        }
    }

    .input_password {
        width: 400px;
        height: 40px;
        margin-top: 30px;
        padding: 0 5px;
        border: 1px solid #333;
    }
}

.answer_wrap {
    margin-top: 100px;

    > strong {
        display: block;
        margin-bottom: 20px;
        font-size: 20px;
    }
}

.btn_more,
.btn_modify,
.btn_cancel,
.btn_remove {
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 0 5px;
    margin-top: 30px;
    border-radius: 2px;
    font-size: 18px;
    line-height: 50px;
    cursor: pointer;
    box-sizing: border-box;
}

.btn_cancel,
.btn_modify {
    border: 1px solid #3552a4;
    color: #3552a4;
}

.btn_remove {
    border: 1px solid #333;
    color: #333;
}

.btn_more {
    background-color: #3552a4;
    color: #fff;
}

.btn_home {
    display: none;
}

.no-post {
    position: relative;
    height: 28.6vw;
    background-color: #fff !important;
    box-sizing: border-box;

    > td {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// 반응형
@media (max-width: 700px) {
    body {
        overflow-x: hidden;
        min-width: auto;
    }

    .gnb_left {
        margin-right: 20px;
    }

    // 홈 화면
    .main_content {
        height: 134.3vw;
        min-height: initial;
        padding-bottom: 7.14vw;

        > .content_inner {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    .content_inner {
        width: auto;
    }

    .content_top {
        .mobile_image {
            padding: 7.14vw;
            box-sizing: border-box;
        }
    }

    .title.about {
        + .content_wrap {
            .mobile_image {
                margin: 0 auto;
                padding: 7.14vw 7.14vw 14.28vw;
                box-sizing: border-box;
            }
        }
    }

    .mobile_image {
        display: block;
        margin: 0 auto;

        + img {
            display: none;
        }
    }

    .content_main_image {
        order: 3;
        position: static;
        width: 100%;
        margin: 0 auto;
        margin-top: 7.14vw;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .content_right {
        order: 2;
    }

    .area_content_link {
        display: flex;
        flex: 1 0 auto;
        flex-wrap: wrap;

        > li {
            flex: 1 1 50%;
            height: 12.9vw;
            margin: 0;

            &:hover {
                transform: none;
            }
        }
    }

    .banner_qna,
    .banner_download {
        margin-top: 5px !important;
    }

    .link_banner {
        display: block;
        flex: 0 0 auto;
        width: 26.51vw;
        height: 26.51vw;
        background-size: contain;
        transform: none !important;
    }

    .main_content {
        > .content_inner {
            padding: 0 7.14vw;
        }
    }

    .content_main_banner {
        padding: 14.29vw 0 7.14vw;
    }

    .gnb {
        padding: 0 7.14vw;
    }

    .gnb_menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 65%;
        margin: 0;
        padding-top: 18.42vw;
        background: #f8f5f1;
        text-align: left;

        > li {
            display: block;
            flex: 0 1 auto;
            width: auto;
            height: auto;

            > a {
                height: 60px;
                padding-left: 50px;
                font-size: 22px;
                color: #464646;
            }
        }
    }

    .content_link_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 105%;
        margin-left: -2.6vw;
    }

    .sub_menu {
        display: block !important;
        position: static;
        background: none;

        > li {
            display: block;
            text-align: left;

            + li {
                margin-top: 5px;
            }

            > a {
                display: inline-block;
                position: relative;
                height: 30px;
                padding-left: 62px;
                font-size: 18px;
                color: #464646;

                &:after {
                    position: absolute;
                    top: 8px;
                    left: 50px;
                    width: 6px;
                    height: 2px;
                    background-color: #9d9b99;
                    letter-spacing: -0.5px;
                    content: "";
                }
            }
        }
    }

    .btn_home {
        display: inline-block;
        flex: 0 0 50px;
        width: 50px;
        height: 50px;
        margin-left: auto;
        background: url(../img/ico_home.png) no-repeat;
        background-size: contain;
        vertical-align: top;
        text-indent: -9999em;
    }

    .area_notice {
        display: none;
    }

    .content_right {
        margin: 0;
    }

    footer {
        .content_inner {
            flex-direction: column;
            align-items: center;
            padding: 10px 30px 20px;
        }
    }

    .footer_text p + p {
        margin-top: 15px;
    }

    .footer_link_list {
        margin: 25px 0 0;
        margin-left: 0;

        > li {
            margin-left: 0;
        }
    }

    .hamburger-menu {
        display: inline-block;
        flex: 0 0 auto;
        width: 36px;
        height: 36px;
        margin: 8px 0 0 30px;
        background: url(../img/icon_menu.png) no-repeat;
        background-size: contain;
        vertical-align: top;
        cursor: pointer;
    }

    .close-button {
        display: none;
        z-index: 10;
        position: absolute;
        top: 35px;
        right: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;

        .line {
            position: absolute;
            top: 50%;
            right: 0;
            width: 100%;
            height: 4px;
            border-radius: 5px;
            background-color: #666;
            transform: translateY(-50%) rotate(45deg);
            transform-origin: center;
        }

        .line:first-child {
            transform: translateY(-50%) rotate(-45deg);
        }
    }

    .table_notice {
        .state {
            width: 20% !important;
        }
    }

    .area_content {
        width: 100%;
    }

    .input_password {
        width: 100% !important;
    }

    .wrap_btn {
        > button {
            margin-top: 10px;
        }
    }

    .sub_content {
        .point_color {
            display: block !important;
        }
    }

    .table_accept_check {
        width: 100%;
        margin: 0 !important;
    }

    .box_state {
        width: 10%;
    }

    .table_accept_check {
        th {
            width: 40% !important;
        }
    }

    .table_text {
        margin-left: 0 !important;
    }
}

@media (max-width: 500px) {
    .app_table {
        input[type="date"] {
            width: 100%;
            font-size: 12px;
        }
    }

    .radio_btn {
        label {
            display: block;

            + label {
                margin-left: 0 !important;
            }
        }
    }
}
