// 서브 페이지 사용 스타일
.sub_content {
    text-align: center;

    .content_top {
        background: #e2edf9;
    }

    > .content_inner {
        padding: 100px 0;
    }

    .title {
        display: inline-block;
        width: 134px;
        height: 44px;
        vertical-align: top;
        text-indent: -9999em;

        &.about {
            background: url(../img/title_about.png) no-repeat;
        }

        &.application {
            background: url(../img/title_application.png) no-repeat;
        }

        &.check {
            background: url(../img/title_check.png) no-repeat;
        }

        &.notice {
            background: url(../img/title_notice.png) no-repeat;
        }

        &.qna {
            background: url(../img/title_qna.png) no-repeat;
        }

        &.faq {
            background: url(../img/title_faq.png) no-repeat;
        }

        &.award {
            background: url(../img/title_award.png) no-repeat;
        }
    }

    .content_wrap {
        margin-top: 50px;
        padding: 48px 0;
        border: 2px solid #e2edf9;
    }

    .btn_video,
    .btn_audio {
        display: inline-block;
        width: 227px;
        height: 100px;
        margin: 57px 0;
        vertical-align: top;
        cursor: pointer;
    }

    .btn_video {
        background: url(../img/banner_video.png) no-repeat;

        + .btn_audio {
            margin-left: 34px;
        }
    }

    .btn_audio {
        background: url(../img/banner_audio.png) no-repeat;
    }

    .btn_search,
    .btn_write,
    .btn_submit {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 1000px;
        margin: 40px auto 0;

        button {
            margin: 0 4px;
            padding: 8px 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            color: #555;
            text-decoration: none;
            cursor: pointer;

            &:disabled {
                background-color: #eee;
                cursor: default;
            }
        }

        .pagination button:hover:not(.active) {
            background-color: #f2f2f2;
        }

        .active {
            border: 1px solid #007bff;
            background-color: #007bff;
            color: white;
        }
    }

    .btn_write {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 12px 30px;
    }

    .notice_text {
        padding-left: 100px;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
    }

    .point_color {
        display: inline-block;
        color: #8f0506;
        vertical-align: top;
    }
}

.content_wrap {
    position: relative;

    .text {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: -1px;

        + .desc {
            display: inline-block;
            margin-top: 15px;
        }
    }

    .desc {
        font-size: 15px;
    }
}

.form_container {
    margin-top: 40px;

    > input {
        display: block;
        width: 250px;
        height: 40px;
        margin: 0 auto;
        padding-left: 10px;
        border: 1px solid gray;

        + input {
            margin-top: 5px;
        }
    }

    .button {
        display: inline-block;
        width: 250px;
        height: 40px;
        margin-top: 10px;
        background: #0753a4;
        font-weight: bold;
        color: #fff;
        line-height: 40px;
        vertical-align: top;
    }
}

.filter_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
}

.notice_filter {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    font-size: 16px;
    cursor: pointer;

    + .search_bar {
        margin-left: 10px;
    }
}

.search_bar {
    display: flex;
    width: 300px;

    input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        font-size: 16px;
    }

    + .btn_search {
        margin-left: 5px;
    }
}

.table_notice {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto 0;
    border-collapse: collapse;

    &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: #333;
        content: "";
    }

    th,
    td {
        padding: 10px;
        text-align: left;

        &.number {
            width: 60px;
        }

        &.table_title {
            width: 40%;
        }

        &.date {
            width: 35%;
        }
    }

    tr {
        &:first-child {
            th {
                border-top: 2px solid #333;
                border-bottom: 1px solid #333;
                background-color: #eee;
                font-weight: bold;
                color: #333;
            }
        }
    }

    tbody {
        tr {
            &:nth-child(odd) {
                background-color: #f2f2f2;
            }

            &:hover {
                background-color: #ddd;
            }
        }
    }

    .table_title {
        overflow: hidden;

        button {
            overflow: hidden;
            width: 100%;
            padding: 0;
            border: none;
            background-color: transparent;
            color: #333;
            line-height: 18px;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .icon {
            margin-left: 5px;
        }
    }

    .state {
        width: 10%;
    }

    .box_state {
        background-color: #ddd;
        line-height: 1;
        text-align: center;

        &.on {
            background-color: #c82254;
            color: #fff;
        }
    }
}

.table_answer {
    width: 1000px;
    margin: 40px auto 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #eee;
    box-sizing: border-box;

    table {
        width: 100%;
        border-collapse: collapse;
    }

    tbody {
        background-color: #fff;
    }

    th,
    td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    th {
        width: 20%;
        font-weight: bold;
        text-align: left;
    }

    td {
        width: 80%;
    }

    textarea {
        width: 100%;
        height: 300px;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        resize: none;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
    }

    ~ .btn_cancel,
    ~ .btn_submit {
        width: 180px;
        height: 50px;
        margin-top: 20px;
        cursor: pointer;
        box-sizing: border-box;
    }

    ~ .btn_cancel {
        border: 1px solid #007bff;
        border-radius: 5px;
        color: #007bff;
    }
}

.faq_list {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    border: 1px solid #333;
    border-right: none;
    border-left: none;
    text-align: left;

    > li {
        position: relative;
        padding-left: 50px;
        border-bottom: 1px solid #ccc;
    }
}

.faq_title {
    position: relative;
    padding: 20px 0;
    font-weight: bold;
    cursor: pointer;

    &:before {
        position: absolute;
        top: 50%;
        left: -30px;
        font-size: 20px;
        font-weight: bold;
        transform: translateY(-50%);
        content: "Q";
    }
}

.faq_content {
    display: none;
    position: relative;
    margin-bottom: 10px;
    padding: 20px 10px;
    background-color: #eee;
    line-height: 1.2;
    word-break: break-all;

    &:before {
        position: absolute;
        top: 50%;
        left: -30px;
        font-size: 20px;
        font-weight: bold;
        color: #007bff;
        transform: translateY(-50%);
        content: "A";
    }
}

// 개인정보 수집 안내
.consent_form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    line-height: 1.2;
    text-align: left;
}

.consent_section {
    margin-bottom: 20px;

    + .consent_section {
        margin-top: 50px;
        padding-top: 50px;
        border-top: 3px solid #777;
    }

    h3 {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    ul {
        margin: 10px 0;

        + h4 {
            margin-top: 20px;
        }
    }

    li {
        margin-bottom: 5px;
    }

    > p {
        + ul {
            margin-top: 10px;
        }

        + h4 {
            margin-top: 10px;
        }
    }
}

.consent_signature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    p {
        margin-bottom: 10px;
    }

    form {
        margin-top: 10px;
    }

    label {
        margin-right: 10px;
    }

    input {
        margin-right: 10px;
        padding: 5px;
    }

    button {
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        background-color: #1e90ff;
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: #0077b6;
        }
    }
}

.app_table {
    width: 1100px;
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;

    td {
        overflow: hidden;
        padding: 20px 5px;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        font-size: 18px;
        text-align: center;
        vertical-align: middle;
        word-break: normal;
    }

    /* 라디오 버튼 스타일 */
    .radio_btn {
        label {
            position: relative;
            margin-right: 15px;
            padding-left: 25px;
            font-size: 16px;
            font-weight: 600;
            color: #333;
            line-height: 1.8;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            + label {
                margin-left: 20px;
            }

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            span {
                position: absolute;
                top: -3px;
                left: -4px;
                width: 20px;
                height: 20px;
                border: 2px solid #ccc;
                border-radius: 50%;
                background-color: #fff;

                &:after {
                    display: none;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #0077b6;
                    content: "";
                }
            }

            input:checked ~ span:after {
                display: block;
            }

            &.disabled {
                color: #ccc;
                cursor: not-allowed;

                input {
                    cursor: not-allowed;
                }

                span {
                    border-color: #ccc;
                    background-color: #ccc;
                }
            }
        }
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        height: 40px;
        padding: 5px;
        border: 1px solid #ccc;
        color: #000;
        box-sizing: border-box;
    }

    input[type="date"] {
        color: #333;
    }

    input[type="file"] {
        display: block;
        margin: 0 auto;
        padding: 8px 16px;
        border: 2px solid #0077b6;
        border-radius: 8px;
        background-color: white;
        font-size: 14px;
        color: #0077b6;
    }

    + .btn_submit {
        margin-top: 40px;
        padding: 20px 50px;
        border: none;
        border-radius: 3px;
        background-color: #1e90ff;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
    }
}

.app_label {
    background-color: #eee;
    text-align: center;
    vertical-align: top;
}

.tab-wrapper {
    .radio-wrapper {
        display: flex;
        justify-content: center;
    }

    .option {
        display: flex;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;
    }

    .dot {
        position: relative;
        width: 18px;
        height: 18px;
        margin-right: 10px;
        border: 2px solid #0077b6;
        border-radius: 50%;
    }

    .dot:before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        opacity: 0;
        border-radius: 50%;
        background-color: #0077b6;
        transition: opacity 0.2s ease-in-out;
        transform: translate(-50%, -50%);
        content: "";
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked + .option .dot:before {
        opacity: 1;
    }
}

.awards-wrapper {
    margin-top: 30px;

    &.briefly {
        .award-box {
            height: 480px;
        }
    }
}

.award-box {
    display: inline-block;
    width: 310px;
    height: 570px;
    margin: 0 auto 50px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;

    .awrad-item {
        flex: 1 0 auto;
        margin: 20px 0;
    }

    .author {
        font-weight: bold;
    }

    &.best,
    &.grand {
        + .award-box {
            margin-left: 50px;
        }
    }

    &.best {
        .award-title {
            &:before {
                background-color: #ded0e7;
            }
        }
    }

    &.grand {
        .award-title {
            &:before {
                background-color: #ff9811;
            }
        }
    }

    &.excellent {
        .award-title {
            &:before {
                background-color: #9e8368;
            }
        }
    }

    &.prize {
        .award-title {
            &:before {
                background-color: #add8e6;
            }
        }
    }

    h4 {
        margin-top: 0;
        font-size: 24px;
        font-weight: bold;
    }

    p {
        margin-bottom: 10px;
        font-size: 18px;
    }

    + .award-box {
        margin-left: 30px;
    }
}

.award-title {
    position: relative;

    &:before {
        z-index: -1;
        position: absolute;
        top: -5px;
        right: 0;
        left: 0;
        height: 30px;
        transform: translateY(-10%);
        content: "";
    }
}

.award-box-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.view-btn {
    padding: 10px 20px;
    border: none;
    background-color: #0077b6;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.link_home {
    display: inline-block;
    margin-bottom: 50px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #3451a3;
    font-size: 20px;
    color: #fff;
}

.table_text {
    margin: 0 0 20px 50px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.table_accept_check {
    width: 90%;
    margin: 0 auto;
    padding: 0 50px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;

    tr {
        + tr {
            border-top: 1px solid #ddd;
        }
    }

    th,
    td {
        padding: 15px;
    }

    th {
        width: 20%;
        background-color: #f9f9f9;
        box-sizing: border-box;
    }

    td {
        text-align: left;
    }

    button {
        font-weight: bold;
    }
}

button {
    cursor: pointer;
}

.agree_checkbox {
    margin-top: 10px;

    &:hover {
        cursor: pointer;
    }

    input {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: -1px 5px 0 0;
        vertical-align: top;
    }
}

// 반응형
@media (max-width: 700px) {
    // 서브
    .sub_content {
        .btn_video {
            + .btn_audio {
                margin-left: 0;
            }
        }

        .content_wrap {
            margin-right: 7.14vw;
            margin-left: 7.14vw;
            padding-right: 7.14vw;
            padding-left: 7.14vw;
        }

        .pagination {
            display: flex;
            width: 100%;
            flex-wrap: wrap;

            button {
                margin-bottom: 5px;
            }
        }

        .notice_text {
            padding-left: 0;
        }

        .btn_write {
            display: block;
            position: static;
            width: 80%;
            margin-top: 20px;
        }
    }

    .consent_signature {
        button {
            width: 100%;
            margin-top: 10px;
        }

        input {
            width: 70%;
        }
    }

    .agree_checkbox {
        input {
            width: auto;
        }
    }

    .app_table {
        width: 100%;

        input[type="file"] {
            width: 100%;
            box-sizing: border-box;
        }
    }

    .form_container {
        > input,
        .button {
            width: 100%;
            box-sizing: border-box;
        }
    }

    .table_notice {
        max-width: 100%;

        th,
        td {
            &:first-child {
                display: none;
            }
        }

        .no-post {
            td {
                &:first-child {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    .filter_wrap {
        display: flex;
        justify-content: center;
        margin-right: 0;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    .notice_filter {
        width: 100%;
        margin-bottom: 10px;

        + .search_bar {
            margin-left: 0;
        }
    }

    .search_bar {
        flex: 1 0 auto;
        width: 100%;

        + .btn_search {
            margin-left: 0;
        }
    }

    .btn_search {
        width: 100%;
        margin-top: 5px;
        box-sizing: border-box;
    }

    .table_answer {
        width: 100%;
        box-sizing: border-box;
    }

    .faq_list {
        width: 100%;
    }

    .award-box {
        + .award-box {
            margin-left: 0 !important;
        }
    }
}

@media (max-width: 480px) {
    .award-box {
        width: 100%;
        box-sizing: border-box;
    }
}
